@import 'styles';

:host {
    width: 100%;
    background-color: white;
    display: block;
    padding: 20px 30px;
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
}

h1 {
    display: inline-block;
    font-size: 18pt;
    vertical-align: bottom;
    font-weight: normal;
    margin: 14px;
    color: #4d4d4d;
}

mat-icon {
    @include md-icon-size(50px);
    background: -webkit-gradient(linear, left top, right bottom, from(mat-color($accent, 700)), to(mat-color($accent, 300)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

