<div fxLayout="row" fxLayoutGap="40px" fxLayout.lt-sm="column">

  <div fxFlex="30" fxLayout="column" fxLayoutGap="40px">

    <div class="block shadow" fxLayout="column" fxLayoutAlign="space-between center" fxHide.lt-sm>
      <div class="block-icon pop-top small">
        <i class="fab fa-twitter"></i>
      </div>

      <div #twitterEmbed>
      </div>
    </div>

  </div>

  <div fxFlex="70" fxLayout="column" fxLayoutGap="40px">

    <div fxLayout="row" fxLayoutGap="20px">
      <app-change-percentage fxFlex="25" title="1h" [usdValue]="coin.marketData.changePercentage1hUsd"
        [btcValue]="coin.marketData.changePercentage1hBtc"></app-change-percentage>
      <app-change-percentage fxFlex="25" title="24h" [usdValue]="coin.marketData.changePercentage24hUsd"
        [btcValue]="coin.marketData.changePercentage24hBtc"></app-change-percentage>
      <app-change-percentage fxFlex="25" title="30d" [usdValue]="coin.marketData.changePercentage30dUsd"
        [btcValue]="coin.marketData.changePercentage30dBtc"></app-change-percentage>
      <app-change-percentage fxFlex="25" title="1y" [usdValue]="coin.marketData.changePercentage1yUsd"
        [btcValue]="coin.marketData.changePercentage1yBtc"></app-change-percentage>
    </div>

    <div class="block shadow">
      <div class="chart pop-top grey">
        <app-price-chart [coin]="coin" [timeframe]="priceChartTimeframe">
        </app-price-chart>
      </div>
      <div>
        <div class="timeframe-buttons">
          <button mat-flat-button (click)="priceChartTimeframe = '1d'" [class.mat-grey]="priceChartTimeframe === '1d'">1
            day</button>
          <button mat-flat-button (click)="priceChartTimeframe = '1m'" [class.mat-grey]="priceChartTimeframe === '1m'">1
            month</button>
          <button mat-flat-button (click)="priceChartTimeframe = '3m'" [class.mat-grey]="priceChartTimeframe === '3m'">3
            months</button>
          <button mat-flat-button (click)="priceChartTimeframe = '1y'" [class.mat-grey]="priceChartTimeframe === '1y'">1
            year</button>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between flex-end">
        <div class="label-value">
          <h4>Price Activity in USD</h4>
        </div>
        <div class="label-value align-right">
          <p>Current price is <span class="accent">${{ coin.marketData.lastPriceUsd | number }}</span>.</p>
          <p>
            <app-percentage [value]="coin.marketData.changePercentage24hUsd"></app-percentage>
            {{ coin.marketData.changePercentage24hUsd < 0 ? 'decrease' : 'increase' }} since yesterday.
          </p>
        </div>
      </div>
    </div>

    <div class="block shadow" fxLayout="column" fxLayoutAlign="space-between center">
      <div class="block-icon pop-top small">
        <mat-icon>info</mat-icon>
      </div>

      <div class="align-left label-value">
        <p *ngIf="!panelOpen">{{ coin.description | slice:0:350 }}<span *ngIf="coin.description.length > 350">...</span>
        </p>
        <p *ngIf="!!panelOpen">{{ coin.description }}</p>
        <div class="align-center" *ngIf="coin.description.length > 350">
          <button mat-icon-button mat-stroked-button (click)="panelOpen = !panelOpen">
            <mat-icon *ngIf="!panelOpen">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="!!panelOpen">keyboard_arrow_up</mat-icon>
          </button>
        </div>
      </div>

      <div class="align-left label-value">
        <a mat-button color="gray" *ngIf="coin.links.homepage" target="_blank" [href]="coin.links.homepage">
          <mat-icon>home</mat-icon>&nbsp;WEBSITE
        </a>
        <a mat-button color="gray" *ngIf="coin.links.explorer" target="_blank" [href]="coin.links.explorer">
          <mat-icon>view_stream</mat-icon>&nbsp;EXPLORER
        </a>
        <a mat-button color="gray" *ngIf="coin.links.github" target="_blank" href="{{coin.links.github}}"><i
            class="fab fa-github"></i>&nbsp;GITHUB</a>
        <a mat-button color="gray" *ngIf="coin.links.bitbucket" target="_blank" href="{{coin.links.bitbucket}}"><i
            class="fab fa-bitbucket"></i>&nbsp;Bitbucket</a>

        <a mat-button color="gray" *ngIf="coin.social.twitterLink" target="_blank" href="{{coin.social.twitterLink}}">
          <i class="fab fa-twitter"></i>
          Twitter ({{coin.social.twitterFollowers}})
        </a>

        <a mat-button color="gray" *ngIf="coin.social.facebookLink" target="_blank" href="{{coin.social.facebookLink}}">
          <i class="fab fa-facebook"></i>
          Facebook ({{coin.social.facebookLikes}})
        </a>

        <a mat-button color="gray" *ngIf="coin.social.telegramLink" target="_blank" href="{{coin.social.telegramLink}}">
          <i class="fab fa-telegram"></i>
          Telegram ({{coin.social.telegramUserCount}})
        </a>

        <a mat-button color="gray" *ngIf="coin.social.bitcointalkLink" target="_blank"
          href="{{coin.social.bitcointalkLink}}">
          <i class="fab fa-bitcoin"></i>
          Bitcointalk
        </a>

        <a mat-button color="gray" *ngIf="coin.social.redditLink" target="_blank" href="{{coin.social.redditLink}}">
          <i class="fab fa-reddit"></i>
          Reddit ({{coin.social.redditSubscribers}})
        </a>

        <a mat-button color="gray" *ngIf="coin.social.discordLink" target="_blank" href="{{coin.social.discordLink}}">
          <i class="fab fa-discord"></i>
          Discord
        </a>
      </div>
    </div>

    <div class="block shadow" fxLayout="column" fxLayoutAlign="space-between center">
      <div class="block-icon pop-top small green">
        <mat-icon>swap_horiz</mat-icon>
      </div>

      <h4>Top Markets</h4>
      <app-overview-exchanges [coin]="coin" limit="5"></app-overview-exchanges>

      <a mat-button color="gray" [routerLink]="['/currencies', coin.id, 'markets']">
          All markets
        <mat-icon>keyboard_arrow_right</mat-icon>
      </a>

    </div>

  </div>

</div>