@import "styles";

:host {
  padding-top: 30px;
  display: block;
}

p mat-icon {
  @include icon-size(18px);
  line-height: 16px;
  vertical-align: middle;
}

.soft-accent {
  // font-weight: normal;
  color: mat-color($accent, 700, 0.8);
}

.timeframe-buttons {
  margin-bottom: 5px;

  button {
    font-weight: 300;
    font-size: 12px;
    padding: 0 10px;
    line-height: 26px;
    margin-right: 5px;
  }
}
