@import "styles";

:host {
  padding-top: 30px;
  display: block;
}

.timeframe-buttons {
  margin-bottom: 5px;

  button {
    font-weight: 300;
    font-size: 12px;
    padding: 0 10px;
    line-height: 26px;
    margin-right: 5px;
  }
}

.accent {
  font-weight: normal;
  color: mat-color($accent);
}

.block {
  padding: 10px 20px;
  background-color: white;

  .chart {
    border-radius: 5px;
    padding: 20px;
    background: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(mat-color($primary, 700)),
      to(mat-color($primary, 300))
    );
    @include mat-elevation(10, #333, 0.5);

    &.pop-top {
      margin-top: -30px;
      margin-bottom: 13px;
    }
  }

  .block-icon {
    &.pop-top {
      margin-top: -30px;
      margin-bottom: 13px;
    }

    &.pop-left {
      margin-left: -40px;
    }

    border-radius: 5px;
    padding: 20px;
    line-height: 0px;
    height: 40px;
    background: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(mat-color($accent, 700)),
      to(mat-color($accent, 300))
    );
    @include mat-elevation(10, #333, 0.5);

    mat-icon {
      @include md-icon-size(40px);
      color: white;
    }
  }
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.label-value {
  margin-bottom: 5px;

  p {
    margin: 0px;
    font-size: 14px;
    line-height: 24px;

    /deep/ app-percentage .mat-icon {
      vertical-align: bottom;
    }
  }

  h4 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    margin: 0px;
    margin-bottom: 5px;

    &.positive-number {
      color: mat-color($positive, 500);
    }

    &.negative-number {
      color: mat-color($negative, 500);
    }

    mat-icon {
      line-height: 18px;
      vertical-align: middle;
    }
  }

  hr {
    border: none;
    height: 1px;
    background-color: #ccc;
  }

  h6 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    margin: 0px;
  }
}

.list {
  p {
    font-size: 14px;
  }
}

.item {
  margin-bottom: 10px;

  p {
    margin-top: 0px;
    font-size: 14px;
  }

  a.link {
    font-size: 14px;
    text-decoration: none;

    &:hover {
      color: mat-color($accent, 700);
    }
  }
}
