<div fxLayout="row" fxLayoutGap="40px" fxLayout.lt-sm="column" *ngIf="!loading">
  <div fxFlex="30" class="block shadow" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="align-center label-value">
      <div class="block-icon pop-top">
        <mat-icon>bar_chart</mat-icon>
      </div>
    </div>

    <div class="align-center label-value">
      <p>ROI (Year)</p>
      <h4>{{ masternodeStats.yearlyRoi }}%</h4>
    </div>
    <div class="align-center label-value">
      <p>Locked Amount</p>
      <h4>{{ masternodeStats.lockedAmount | number }}</h4>
    </div>
    <div class="align-center label-value">
      <p>Locked Percentage</p>
      <h4>{{ masternodeStats.lockedPercentage }}%</h4>
    </div>
    <div class="align-center label-value">
      <p>Collateral</p>
      <h4>{{ masternodeStats.collateral }} {{ coin.ticker | uppercase }}</h4>
    </div>
    <div class="align-center label-value">
      <p>First Reward Time</p>
      <h4>{{ masternodeStats.activeMasternodes * 2.6 / 60 | number:'0.0-2' }} hrs</h4>
    </div>
  </div>
  <div fxFlex="70" fxLayout="column" fxLayoutGap="40px">
    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutAlign.lt-sm="space-between center" fxLayout.lt-sm="column"
      fxLayoutGap="20px" class="block shadow">
      <div class="align-right label-value">
        <div class="block-icon pop-top">
          <mat-icon>account_balance_wallet</mat-icon>
        </div>
      </div>

      <div class="align-right label-value">
        <p>Weekly Income</p>
        <h4>${{ masternodeStats.weeklyRewardUsd }}</h4>
        <hr>
        <h6>{{ masternodeStats.weeklyRewardBtc }} BTC</h6>
        <h6>{{ masternodeStats.weeklyReward | number:'0.0-2' }} {{ coin.ticker | uppercase }}</h6>
      </div>

      <div class="align-right label-value">
        <p>Monthly Income</p>
        <h4>${{ masternodeStats.monthlyRewardUsd }}</h4>
        <hr>
        <h6>{{ masternodeStats.monthlyRewardBtc }} BTC</h6>
        <h6>{{ masternodeStats.monthlyReward | number:'0.0-2' }} {{ coin.ticker | uppercase }}</h6>
      </div>

      <div class="align-right label-value">
        <p>Yearly Income</p>
        <h4>${{ masternodeStats.yearlyRewardUsd }}</h4>
        <hr>
        <h6>{{ masternodeStats.yearlyRewardBtc }} BTC</h6>
        <h6>{{ masternodeStats.yearlyReward | number:'0.0-2' }} {{ coin.ticker | uppercase }}</h6>
      </div>

    </div>
    <div class="block shadow">
      <div class="chart pop-top">
        <app-amount-masternodes-chart [historicalData]="historicalData"></app-amount-masternodes-chart>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="label-value">
          <h4>Active Masternodes</h4>
        </div>
        <div class="label-value align-right">
          <p><span class="accent">{{ masternodeStats.activeMasternodes | number }}</span> active masternodes.</p>
          <p>
            <app-percentage [value]="dailyActiveMasternodePercentage()"></app-percentage>
            {{ dailyActiveMasternodePercentage() < 0 ? 'decrease' : 'increase' }} since yesterday.
          </p>
        </div>
      </div>
    </div>
    <!-- <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
      <div fxFlex="50" class="block shadow">
        <div class="item">
          <h6>Wallet Version</h6>
          <p>TBD</p>
        </div>
        <div class="item">
          <h6>Protocol Version</h6>
          <p>TBD</p>
        </div>
      </div>
      <div fxFlex="50" class="block shadow">
        <div class="item">
          <h6>Blockheight</h6>
          <p>{{ masternodeStats.blockheight }}</p>
        </div>
        <div class="item">
          <h6>Average Block Time</h6>
          <p>TBD</p>
        </div>
      </div>
    </div> -->
  </div>
</div>