<app-loader [context]="loadingKey"></app-loader>
<div fxLayout="row" fxLayoutGap="40px" fxLayout.lt-sm="column" *ngIf="!loader.isLoading(loadingKey)">
  <div fxFlex="30" class="block shadow" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="align-center label-value">
      <div class="block-icon pop-top">
        <mat-icon>bar_chart</mat-icon>
      </div>
    </div>

    <div class="align-center label-value">
      <p class="soft-accent">ROI <mat-icon
          matTooltip="Return on investment. The return after one year in percentage and the amount of days to have your investment back.">
          info_outline</mat-icon>
      </p>
      <h4>{{ masternodeStats.yearlyRoi }}%</h4>
      <h5>{{ masternodeStats.collateral / masternodeStats.dailyReward | number:'0.0-0' }} days</h5>
    </div>
    <div class="align-center label-value">
      <p class="soft-accent">Locked <mat-icon matTooltip="Number of coins locked in masternodes.">info_outline
        </mat-icon>
      </p>
      <h4>{{ masternodeStats.lockedPercentage }}%</h4>
      <h5>{{ masternodeStats.lockedAmount | number }} {{ coin.ticker | uppercase }}</h5>
    </div>
    <div class="align-center label-value">
      <p class="soft-accent">Collateral <mat-icon matTooltip="Number of coins required to setup a masternode.">
          info_outline</mat-icon>
      </p>
      <h4>{{ masternodeStats.collateral }} {{ coin.ticker | uppercase }}</h4>
    </div>
    <div class="align-center label-value">
      <p class="soft-accent">Masternode Worth <mat-icon matTooltip="Dollar and Bitcoin value of Masternode Collateral.">
          info_outline</mat-icon>
      </p>
      <h4>${{ masternodeStats.collateral * coin.marketData.lastPriceUsd | number:'0.0-0' }} /
        {{ masternodeStats.collateral * coin.marketData.lastPriceBtc | number:'0.0-3' }} BTC
      </h4>
    </div>
    <div class="align-center label-value">
      <p class="soft-accent">First Reward Time <mat-icon matTooltip="Average time before first masternode reward.">
          info_outline</mat-icon>
      </p>
      <h4>{{ (masternodeStats.activeMasternodes * 2.6 / 60) - 2 | number:'0.0-0' }} -
        {{ (masternodeStats.activeMasternodes * 2.6 / 60) + 2 | number:'0.0-0' }} hrs</h4>
    </div>
    <div class="align-center label-value">
      <p class="soft-accent">Blockheight <mat-icon
          matTooltip="The total number of blocks generated since the genesis block.">info_outline</mat-icon>
      </p>
      <h4>{{ masternodeStats.blockheight }}</h4>
    </div>
  </div>
  <div fxFlex="70" fxLayout="column" fxLayoutGap="40px">
    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutAlign.lt-sm="space-between center" fxLayout.lt-sm="column"
      fxLayoutGap="20px" class="block shadow">
      <div class="align-right label-value">
        <div class="block-icon pop-top">
          <mat-icon>account_balance_wallet</mat-icon>
        </div>
      </div>

      <div class="align-right label-value">
        <p>Weekly Income</p>
        <h4 [class.positive-number]="dailyIncomePercentageUsd() > 0"
          [class.negative-number]="dailyIncomePercentageUsd() < 0">
          ${{ masternodeStats.weeklyReward * coin.marketData.lastPriceUsd | number:'0.2-2' }}
          <mat-icon *ngIf="dailyIncomePercentageUsd() > 0">trending_up</mat-icon>
          <mat-icon *ngIf="dailyIncomePercentageUsd() == 0">trending_flat</mat-icon>
          <mat-icon *ngIf="dailyIncomePercentageUsd() < 0">trending_down</mat-icon>
        </h4>
        <hr>
        <h6>{{ masternodeStats.weeklyReward * coin.marketData.lastPriceBtc | number:'0.2-8' }} BTC</h6>
        <h6>{{ masternodeStats.weeklyReward | number:'0.0-2' }} {{ coin.ticker | uppercase }}</h6>
      </div>

      <div class="align-right label-value">
        <p>Monthly Income</p>
        <h4 [class.positive-number]="dailyIncomePercentageUsd() > 0"
          [class.negative-number]="dailyIncomePercentageUsd() < 0">
          ${{ masternodeStats.monthlyReward * coin.marketData.lastPriceUsd | number:'0.2-2' }}
          <mat-icon *ngIf="dailyIncomePercentageUsd() > 0">trending_up</mat-icon>
          <mat-icon *ngIf="dailyIncomePercentageUsd() == 0">trending_flat</mat-icon>
          <mat-icon *ngIf="dailyIncomePercentageUsd() < 0">trending_down</mat-icon>
        </h4>
        <hr>
        <h6>{{ masternodeStats.monthlyReward * coin.marketData.lastPriceBtc | number:'0.2-8' }} BTC</h6>
        <h6>{{ masternodeStats.monthlyReward | number:'0.0-2' }} {{ coin.ticker | uppercase }}</h6>
      </div>

      <div class="align-right label-value">
        <p>Yearly Income</p>
        <h4 [class.positive-number]="dailyIncomePercentageUsd() > 0"
          [class.negative-number]="dailyIncomePercentageUsd() < 0">
          ${{ masternodeStats.yearlyReward * coin.marketData.lastPriceUsd | number:'0.2-2' }}
          <mat-icon *ngIf="dailyIncomePercentageUsd() > 0">trending_up</mat-icon>
          <mat-icon *ngIf="dailyIncomePercentageUsd() == 0">trending_flat</mat-icon>
          <mat-icon *ngIf="dailyIncomePercentageUsd() < 0">trending_down</mat-icon>
        </h4>
        <hr>
        <h6>{{ masternodeStats.yearlyReward * coin.marketData.lastPriceBtc | number:'0.2-8' }} BTC</h6>
        <h6>{{ masternodeStats.yearlyReward | number:'0.0-2' }} {{ coin.ticker | uppercase }}</h6>
      </div>

    </div>

    <div class="block shadow">

      <div class="chart pop-top">
        <app-amount-masternodes-chart [historicalData]="historicalData" [timeframe]="masternodesChartTimeframe">
        </app-amount-masternodes-chart>
      </div>
      <div class="timeframe-buttons">
        <button mat-flat-button (click)="masternodesChartTimeframe = '1m'"
          [ngClass]="{ 'mat-primary': masternodesChartTimeframe === '1m' }">1 month</button>
        <button mat-flat-button (click)="masternodesChartTimeframe = '3m'"
          [ngClass]="{ 'mat-primary': masternodesChartTimeframe === '3m' }">3 months</button>
        <button mat-flat-button (click)="masternodesChartTimeframe = '1y'"
          [ngClass]="{ 'mat-primary': masternodesChartTimeframe === '1y' }">1 year</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between flex-end">
        <div class="label-value">
          <h4>Active Masternodes</h4>
        </div>
        <div class="label-value align-right">
          <p><span class="accent">{{ masternodeStats.activeMasternodes | number }}</span> active masternodes.</p>
          <p>
            <app-percentage [value]="dailyActiveMasternodePercentage()"></app-percentage>
            {{ dailyActiveMasternodePercentage() < 0 ? 'decrease' : 'increase' }} since yesterday.
          </p>
        </div>
      </div>

    </div>

  </div>
</div>