<div fxLayout="row" fxLayoutGap="40px" fxLayout.lt-md="column" fxLayoutAlign="space-between flex-start"
  fxLayoutAlign.lt-md>
  <div fxFlex="40" fxLayout="column" class="block shadow price"
    [class.positive]="coin.marketData.dailyChangePercentageUsd > 0"
    [class.negative]="coin.marketData.dailyChangePercentageUsd < 0">
    <p class="big">
      ${{ coin.marketData.lastPriceUsd | number:'0.2-5' }}
      <app-percentage [value]="coin.marketData.dailyChangePercentageUsd"></app-percentage>
    </p>
    <p class="medium margin-bottom">
      {{ coin.marketData.lastPriceBtc | number:'0.2-8' }} BTC
      <app-percentage [value]="coin.marketData.dailyChangePercentageBtc"></app-percentage>
    </p>
  </div>

  <div fxFlex="60" fxLayoutGap="20px" fxLayout="row" fxLayoutAlign="space-between" class="block shadow market-basics">

    <div class="align-right label-value"
      matTooltip="The value of a coin, calculated by multiplying available supply by the present coin price.">
      <p>Market Cap</p>
      <h4>${{ coin.marketData.marketcapUsd | number:'1.0-0' }}</h4>
      <h5 class="gray">{{ coin.marketData.marketcapBtc | number:'1.0-0' }} BTC</h5>
    </div>

    <div class="align-right label-value" matTooltip="High and Low Price in last 24 hours.">
      <p>24h High / Low</p>
      <h4>${{ coin.marketData.dailyHighUsd | number:'0.2' }} /
        ${{ coin.marketData.dailyLowUsd | number:'0.2' }}</h4>
      <h5 class="gray">{{ coin.marketData.dailyHighBtc | number:'0.2-8' }} BTC /
        {{ coin.marketData.dailyLowBtc | number:'0.2-8' }} BTC</h5>
    </div>

    <div class="align-right label-value" matTooltip="Registered trading volume from last 24hours.">
      <p>24h Volume</p>
      <h4>${{ coin.marketData.dailyVolumeUsd | number:'1.0-0' }}</h4>
      <h5 class="gray">{{ coin.marketData.dailyVolumeBtc | number:'0.0-3' }} BTC</h5>
    </div>

  </div>
</div>