<div fxLayout="row" fxLayoutGap="40px" fxLayout.lt-md="column" 
  fxLayoutAlign="space-between flex-start" fxLayoutAlign.lt-md>
  <div fxFlex="40" fxLayout="column" class="block shadow price"
    [class.positive]="coin.marketData.dailyChangePercentageBtc > 0"
    [class.negative]="coin.marketData.dailyChangePercentageBtc < 0">
    <p class="big">
      ${{ coin.marketData.lastPriceUsd | number:'0.2-5' }}
      <app-percentage [value]="coin.marketData.dailyChangePercentageUsd"></app-percentage>
    </p>
    <p class="medium margin-bottom">
      {{ coin.marketData.lastPriceBtc | number:'0.2-8' }} BTC
      <app-percentage [value]="coin.marketData.dailyChangePercentageBtc"></app-percentage>
    </p>
  </div>

  <div fxFlex="60" fxLayoutGap="20px" fxLayout="row"
    fxLayoutAlign="space-between" class="block shadow market-basics">

    <div fxHide.lt-md class="align-center label-value">
      <div class="block-icon pop-top green">
        <mat-icon>show_chart</mat-icon>
      </div>
    </div>

    <div class="align-right label-value">
      <p>Market Cap</p>
      <h4>${{ coin.marketData.marketcapUsd | number:'1.0-0' }}</h4>
    </div>

    <div class="align-right label-value">
      <p>24h High / Low</p>
      <h4>${{ coin.marketData.dailyHighUsd | number:'0.2' }} <span>H</span></h4>
      <h4>${{ coin.marketData.dailyLowUsd | number:'0.2' }} <span>L</span></h4>
    </div>

    <div class="align-right label-value">
      <p>24h Volume</p>
      <h4>${{ coin.marketData.dailyVolumeUsd | number:'1.0-0' }}</h4>
    </div>
    
  </div>
</div>