@import "styles";

.gray {
  color: rgba(0,0,0,0.5);
}

.price {
  .big {
    font-size: 32px;
    margin: 0;

    /deep/ {
      mat-icon {
        @include md-icon-size(32px);
        line-height: 28px;
        vertical-align: middle;
      }
    }
  }

  .medium {
    font-size: 20px;
    margin: 0;
    color: rgba(255,255,255,0.5);

    /deep/ {
      .positive-number,
      .negative-number {
        color: rgba(255,255,255,0.5);
      }

      mat-icon {
        line-height: 20px;
        vertical-align: middle;
      }
    }
  }

  padding: 30px;
  border-radius: 5px;

  &,
  /deep/ .positive-number,
  /deep/ .negative-number {
    color: white;
  }

  app-percentage {
    float: right;
  }

  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(mat-color(mat-palette($mat-grey), 700)),
    to(mat-color(mat-palette($mat-grey), 500))
  );

  &.positive {
    background: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(mat-color(mat-palette($mat-teal), 700)),
        to(mat-color(mat-palette($mat-teal), 300))
      );
  }

  &.negative {
    background: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(mat-color(mat-palette($mat-red), 700)),
        to(mat-color(mat-palette($mat-red), 300))
      );
  }
}

.market-basics {
  .block-icon.pop-top {
    margin-bottom: -50px !important;
  }

  h4 span {
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;
    color: #aaa;
  }
}

.margin-bottom {
  margin-bottom: 20px;
}

h6 {
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 5px;
}

.item {
  margin-bottom: 10px;

  p {
    margin-top: 0px;
    font-size: 14px;
  }

  .mat-stroked-button {
    margin-right: 10px;
    margin-bottom: 5px;
  }

  a.link {
    font-size: 14px;
    text-decoration: none;

    &:hover {
      color: mat-color($accent, 700);
    }
  }
}
