<app-loader></app-loader>
<ng-template [ngIf]="!loader.loading">
  <app-page-header thumb="{{ coin.imageUrlSmall }}" title="{{ coin.name }} ({{ coin.ticker | uppercase }})">
  </app-page-header>
  <app-page-content fxLayoutAlign="center center">

    <app-details-header class="content mat-elevation-z8" [coin]="coin"></app-details-header>

    <mat-tab-group class="tabs mat-elevation-z8">
      <mat-tab label="Overview"> Overview content </mat-tab>
      <mat-tab label="Masternode Stats"> Masternode Stats content </mat-tab>
      <mat-tab label="PoS Stats"> Proof Of Stake Stats content </mat-tab>
      <mat-tab label="PoS Pools"> Proof Of Stake Pools </mat-tab>
      <mat-tab label="Masternode Hosting"> MN Hosting content </mat-tab>
      <mat-tab label="Markets"> Exchanges/markets etc. </mat-tab>
    </mat-tab-group>

  </app-page-content>
</ng-template>