<app-loader [context]="loadingKey"></app-loader>
<ng-template [ngIf]="!loader.isLoading(loadingKey)">
  <app-page-header thumb="{{ coin.imageUrlSmall }}" title="{{ coin.name }} ({{ coin.ticker | uppercase }})">
  </app-page-header>
  <app-page-content fxLayoutAlign="center center">

    <app-details-header [coin]="coin"></app-details-header>

  </app-page-content>

  <mat-tab-group [selectedIndex]="tabIndex" (selectedIndexChange)="tabIndexChange($event)" 
    class="tabs" ngClass.lt-md="no-horizontal-padding" color="accent">
    <mat-tab label="Overview">
      <app-coin-overview [coin]="coin"></app-coin-overview>
    </mat-tab>
    <mat-tab label="Masternode Stats">
      <app-masternode-stats [coin]="coin"></app-masternode-stats>
    </mat-tab>
    <mat-tab label="PoS Stats"> Proof Of Stake Stats content </mat-tab>
    <mat-tab label="PoS Pools"> Proof Of Stake Pools </mat-tab>
    <mat-tab label="Masternode Hosting"> MN Hosting content </mat-tab>
    <mat-tab label="Markets"> Exchanges/markets etc. </mat-tab>
  </mat-tab-group>

</ng-template>