<app-loader [context]="loadingKey"></app-loader>
<ng-template [ngIf]="!loader.isLoading(loadingKey)">
  <app-page-header thumb="{{ coin.imageUrlSmall }}" title="{{ coin.name }} ({{ coin.ticker | uppercase }})">
    <a [routerLink]="['/currencies', coin.id, 'reviews']" 
      matTooltip="Click to view rating details and submit your own review.">
      <star-rating *ngIf="rating || rating === 0" showHalfStars="true" 
        [hoverEnabled]="false" [starType]="'svg'" [rating]="rating"
        [readOnly]="true"></star-rating>
    </a>
  </app-page-header>
  <app-page-content fxLayoutAlign="center center">

    <app-details-header [coin]="coin"></app-details-header>

  </app-page-content>

  <mat-tab-group [selectedIndex]="tabIndex" (animationDone)="animationDone()"
    (selectedIndexChange)="tabIndexChange($event)" class="tabs" ngClass.lt-sm="no-horizontal-padding" color="accent">
    <mat-tab label="Overview">
      <app-coin-overview #coinOverviewTab [coin]="coin"></app-coin-overview>
    </mat-tab>
    <mat-tab label="Masternode Stats">
      <app-masternode-stats [coin]="coin"></app-masternode-stats>
    </mat-tab>
    <mat-tab label="Markets">
      <div class="padding-top-30">
        <div class="block shadow" fxLayout="column" fxLayoutAlign="space-between center">
          <div class="block-icon pop-top green">
            <mat-icon>swap_horiz</mat-icon>
          </div>
          <app-overview-exchanges [coin]="coin"></app-overview-exchanges>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Reviews">
      <app-coin-reviews [coin]="coin"></app-coin-reviews>
    </mat-tab>
  </mat-tab-group>

</ng-template>