@import "../material.scss";

.site-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #eee;
}

.mobile-toolbar {
  position: relative;
  z-index: 2;

  .logo {
    width: 150px;
    display: block;
  }

  .powered-by {
    padding-top: 5px;
    font-size: 7pt;
    line-height: 7pt;
    text-align: center;

    img {
      width: 70px;
    }
  }
}

.page-wrapper {
  max-width: 1600px;
}

mat-sidenav-container > mat-sidenav {
  width: 280px;
  background-color: mat-color($primary);
  background: linear-gradient(to bottom right mat-color($primary), mat-color($primary, 700));
  transition: box-shadow 200ms;
  @include mat-elevation(8);

  &:hover {
    transition: box-shadow 200ms;
    @include mat-elevation(12);
  }
}

mat-sidenav-container > mat-sidenav-content {
  flex-grow: 1;
  background-color: #eee;
}
