@import "material";

:host {
  padding-top: 30px;
  display: block;
}

hr {
  height: 0.05em;
}

p mat-icon {
  @include icon-size(18px);
  line-height: 16px;
  vertical-align: middle;
}

.extra-margin {
    margin-bottom: 10px;
    margin-top: 10px;

    star-rating {
        display: block;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

textarea {
  height: 50px;
}

.separator {
  width: 200px;
}

.italic {
  font-style: italic;
}