@import 'styles';

.container {
    padding: 20px;
    display: block;
}

.content {
    background-color: white;
    float: left;
    padding: 20px;
    box-sizing: border-box;

    img {
        width: 100%;
    }
}