<app-page-header icon="build" title="Stay tuned!">
</app-page-header>
<div class="container">
  <div class="content mat-elevation-z8">
    <img src="{{ randomGif }}" />
    <h2 class="gradient">Working over here...</h2>
    <p>We are currently working on an awesome new site. Stay tuned!</p>
    <p>Please don't forget to follow us on social media to stay notified!</p>
    <a class="social-link" href="#"><i class="fab fa-twitter fa-2x gradient"></i></a>
    <a class="social-link" href="#"><i class="fab fa-facebook fa-2x gradient"></i></a>
    <a class="social-link" href="#"><i class="fab fa-linkedin fa-2x gradient"></i></a>
  </div>
</div>