@import "material";

table {
    width: 100%;
}

.icon {
    height: 22px;
    vertical-align: bottom;
    margin-right: 5px;
}

::ng-deep th:not(:first-of-type) .mat-sort-header-container {
    display: flex;
    justify-content: flex-end;
}


::ng-deep .mat-sort-header-arrow {
    color: mat-color($accent);
}

.currency-column {
    padding: 10px 0;
}

.mat-cell {
    font-size: 12px;

    &:not(:first-of-type) {
        text-align: right;
    
        &:not(:last-of-type) {
            padding-right: 18px;
        }
    
        &:last-of-type {
            padding-right: 42px;
        }
    }
}

.name {
    padding-right: 10px;
}

.ticker {
    color: mat-color($primary, 200);
}

.mat-chip {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: inline-flex;
    padding: 7px 10px;
    border-radius: 13px;
    align-items: center;
    cursor: default;
    min-height: 26px;
    height: 1px;
    font-size: 12px;
    font-weight: 300;
    white-space: nowrap;

    &.positive-number {
        color: #fff;
        background-color: mat-color($positive, 500);
    }

    &.negative-number {
        color: #fff;
        background-color: mat-color($negative, 500);
    }
}

.positive-number {
    color: mat-color($positive);
}

.negative-number {
    color: mat-color($negative);
}

.nowrap {
    white-space: nowrap;
}

.mat-row{
    transition: box-shadow 200ms;

    &:hover {
         background-color: #fcfcfc;
        cursor: pointer;

        transition: box-shadow 200ms;
        @include mat-elevation(12, black, 0.5);
    }
}

::ng-deep .rating {
    justify-content: flex-end;

    .star-container {
        margin-right: 0;
    }
}