<app-loader [context]="loadingKey"></app-loader>
<table mat-table ngClass.lt-sm="small" [dataSource]="coins" matSort matSortActive="marketcapCurrency" matSortDirection="desc" class="shadow"
  *ngIf="!loader.isLoading(loadingKey)">

  <!-- Currency Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency </th>
    <td mat-cell class="currency-column" *matCellDef="let element">
      <div fxFill fxLayout.lt-md="column" fxLayoutAlign="space-between center">
        <div fxFlex="1 1 30px"><img class="icon" src="{{element.imageUrlThumbnail}}" /></div>
        <div fxFlex="60" class="name nowrap">{{element.name}}</div>
        <div fxFlex class="ticker">{{element.ticker | uppercase}}</div>
        <star-rating fxHide fxShow.lt-sm showHalfStars="true" size="small" [starType]="'svg'" [rating]="element.rating"
          [readOnly]="true"></star-rating>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="rating">
    <th mat-header-cell fxHide.lt-sm *matHeaderCellDef mat-sort-header> Rating </th>
    <td mat-cell fxHide.lt-sm *matCellDef="let element">
      <star-rating showHalfStars="true" size="small" [starType]="'svg'" [rating]="element.rating"
        [readOnly]="true">
      </star-rating>
    </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="lastPriceCurrency">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.lastPriceCurrency | number:'1.2-4'}} USD</td>
  </ng-container>

  <!-- Change Column -->
  <ng-container matColumnDef="dailyChangePercentageCurrency">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Change (24h) </th>
    <td mat-cell *matCellDef="let element">
      <mat-chip-list fxFill fxLayoutAlign="end center">
        <mat-basic-chip class="mat-standard-chip" [class.positive-number]="element.dailyChangePercentageCurrency > 0"
          [class.negative-number]="element.dailyChangePercentageCurrency < 0">
          {{ element.dailyChangePercentageCurrency | number:'1.1-2'}} %
        </mat-basic-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <!-- Volume Column -->
  <ng-container matColumnDef="dailyVolumeCurrency">
    <th mat-header-cell fxHide.lt-sm *matHeaderCellDef mat-sort-header> Volume (24h) </th>
    <td mat-cell fxHide.lt-sm *matCellDef="let element"> {{element.dailyVolumeCurrency | number:'1.0-0'}}
      USD</td>
  </ng-container>

  <!-- Circulating Supply Column -->
  <ng-container matColumnDef="circulatingSupply">
    <th mat-header-cell fxHide.lt-sm *matHeaderCellDef mat-sort-header> Circulating Supply </th>
    <td mat-cell fxHide.lt-sm *matCellDef="let element"> {{element.circulatingSupply | number:'1.0-0'}}
      {{element.ticker | uppercase}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="totalSupply">
    <th mat-header-cell fxHide.lt-sm *matHeaderCellDef mat-sort-header> Total Supply </th>
    <td mat-cell fxHide.lt-sm *matCellDef="let element"> {{element.totalSupply | number:'1.0-0'}} {{element.ticker | uppercase}} </td>
  </ng-container> -->

  <!-- Market Cap Column -->
  <ng-container matColumnDef="marketcapCurrency">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Market Cap </th>
    <td mat-cell *matCellDef="let element"> {{element.marketcapCurrency | number:'1.0-0'}} USD </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row [routerLink]="row.id" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>