@import 'styles';

:host {
    padding: 20px;
    display: block;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.icon {
    height: 22px;
    vertical-align: bottom;
    margin-right: 5px;
}