@import 'material';
@import '~css-star-rating/scss/star-rating';

@include mat-core();
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

body {
  font-family: $font;
  font-weight: 300;
  margin: 0;
  min-height: 100%;
}

.mat-button,
.mat-flat-button,
.mat-raised-button {
  border-radius: 10px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
i,
a {
  &.gradient {
    background: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(mat-color($accent, 700)),
      to(mat-color($accent, 300))
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

a {
  color: mat-color($accent);
}

.shadow {
  @include mat-elevation(5, #333, 0.5);
}

.accent {
  color: mat-color($accent);
}

.mat-grey {
  color: white;
  background-color: mat-color(mat-palette($mat-grey), 600);
}

.block {
  padding: 10px 20px;
  background-color: white;

  .chart {
    border-radius: 5px;
    padding: 20px;

    background: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(mat-color($primary, 700)),
      to(mat-color($primary, 300))
    );

    &.yellow {
      background: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(mat-color(mat-palette($mat-amber), 700)),
        to(mat-color(mat-palette($mat-amber), 300))
      );
    }

    &.grey {
      background: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(mat-color(mat-palette($mat-grey), 700)),
        to(mat-color(mat-palette($mat-grey), 500))
      );
    }

    @include mat-elevation(10, #333, 0.5);

    &.pop-top {
      margin-top: -30px;
      margin-bottom: 13px;
    }
  }

  .block-icon {
    &.pop-top {
      margin-top: -30px;
      margin-bottom: 13px;
    }

    &.pop-left {
      margin-left: -40px;
    }

    border-radius: 5px;
    padding: 20px;
    line-height: 0px;
    height: 40px;
    width: 40px;

    /* default accent background */
    background: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(mat-color($accent, 700)),
      to(mat-color($accent, 300))
    );

    &.green {
      background: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(mat-color($primary, 700)),
        to(mat-color($primary, 300))
      );
    }

    &.grey {
      background: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(mat-color(mat-palette($mat-grey), 700)),
        to(mat-color(mat-palette($mat-grey), 500))
      );
    }

    @include mat-elevation(10, #333, 0.5);

    mat-icon {
      @include icon-size(40px);
      color: white;
    }

    .fab {
      font-size: 30px;
      vertical-align: text-bottom;
      margin: 0;
      color: white;
    }

    &.small {
      padding: 15px;
      height: 30px;
      width: 30px;

      mat-icon {
        @include icon-size(30px);
      }
    }
  }
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.label-value {
  margin-bottom: 10px;

  .mat-button,
  .mat-stroked-button,
  .mat-raised-button,
  .mat-flat-button {
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 12px;

    .fab {
      font-size: 16px;
      vertical-align: text-bottom;
      margin: 0 4px;
    }
  }

  p {
    margin: 0px;
    font-size: 14px;
    line-height: 24px;

    /deep/ app-percentage .mat-icon {
      vertical-align: bottom;
    }
  }

}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  margin: 0px;

  &.positive-number {
    color: mat-color($positive, 500);
  }

  &.negative-number {
    color: mat-color($negative, 500);
  }

  mat-icon {
    line-height: 18px;
    vertical-align: middle;
  }
}

h5 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  margin: 0px;
}

h6 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  margin: 0px;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
}

.rating {
  outline: none;
  justify-content: left;
}