<div fxLayout="column" fxFill>
  <div fxHide.lt-sm="true">
    <a href="/">
      <img src="/assets/logo.png" alt="posmn.com logo" class="logo" />
    </a>
    <span class="powered-by">POWERED BY <a target="_blank" href="https://www.monkey.vision"><img src="/assets/monkey_logo.png" /></a></span>
  </div>
  <span fxHide.lt-sm="true" class="horizontal-line"></span>
  <div class="menu-buttons" fxFlex="grow">
    <button mat-flat-button color="primary" routerLink="work-in-progress" routerLinkActive="mat-accent">
      <mat-icon>build</mat-icon> Work in progress
    </button>
    <button mat-flat-button disabled color="primary" routerLinkActive="mat-accent">
      <mat-icon>attach_money</mat-icon> Currencies
    </button>
    <button mat-flat-button disabled color="primary" routerLinkActive="mat-accent">
      <mat-icon>bar_chart</mat-icon> Market Overview
    </button>
    <button mat-flat-button disabled color="primary" routerLinkActive="mat-accent">
      <mat-icon>bubble_chart</mat-icon> PoS Pools
    </button>
    <button mat-flat-button disabled color="primary" routerLinkActive="mat-accent">
      <mat-icon>storage</mat-icon> Masternode Hosting
    </button>
    <button mat-flat-button disabled color="primary" routerLinkActive="mat-accent">
      <mat-icon>show_chart</mat-icon> Exchanges
    </button>
  </div>
  <div class="menu-footer">
    <div>follow us</div>
    <a target="_blank" href="https://t.me/PoSMNcom"><i class="fab fa-telegram"></i></a>
    <a target="_blank" href="https://discord.gg/WRFeMkG"><i class="fab fa-discord"></i></a>
    <a target="_blank" href="https://twitter.com/posmncom"><i class="fab fa-twitter"></i></a>
    <span class="horizontal-line"></span>
    <div class="footer-links">
      <a routerLink="privacy-policy">Privacy</a>
      <a routerLink="disclaimer">Disclaimer</a>
      <a routerLink="terms-and-conditions">Terms</a>
      <a routerLink="contact">Contact</a>
    </div>
  </div>
</div>