@import 'styles';

.logo {
    width: 80%;
    margin: 20px auto;
    margin-bottom: 0px;
    display: block;
}

.powered-by {
    color: white;
    text-align: center;
    font-size: 9pt;
    width: 100%;
    display: block;
    margin-bottom: 20px;

    img {
        width: 80px;
        vertical-align: middle;
        margin-bottom: 2px;
    }
}

.horizontal-line {
    border-bottom: 1px solid mat-color($primary, 300);
    width: 80%;
    display: block;
    margin: 0 auto;
}

.menu-buttons {
    width: 80%;
    margin: 25px auto;
    color: white;

    button {
        width: 100%;
        margin: 5px 0;
        text-align: left;

        mat-icon {
            margin-right: 10px;
        }
    }
}

.menu-footer {
    text-align: center;
    color: white;

    a {
        color: white;
    }

    i {
        margin: 16px 8px;
    }

    .footer-links {
        margin: 16px 0;
        padding: 0 10px;
        font-size: 8pt;

        a {
            text-decoration: none;
            margin: 0 8px;
        }
    }
}