@import "material";

@mixin font-size-lg($min: 10, $max:22) {
  font-size: calc(#{$min}px + (#{$max} - #{$min}) * ((100vw - 1280px) / (1599 - 1280)));
}

@mixin font-size-md($min: 10, $max:22) {
  // font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
  font-size: calc(#{$min}px + (#{$max} - #{$min}) * ((100vw - 960px) / (1279 - 960)));
}

@mixin font-size-sm($min: 10, $max:22) {
  font-size: calc(#{$min}px + (#{$max} - #{$min}) * ((100vw - 600px) / (959 - 600)));
}

@mixin font-size-xs($max:22) {
  font-size: calc((#{$max}) * (100vw / 599));
}

$font-size: 22;

.change-percentage {
  hr {
    background-color: rgba(255, 255, 255, 0.25);
  }

  p {
    font-size: #{$font-size / 22 * 18}px;
  }

  h4 {
    font-size: #{$font-size / 22 * 32}px;
    line-height: #{$font-size / 22 * 32}px;
    margin: 0;

    /deep/ {
      mat-icon {
        @include icon-size(#{$font-size}px);
        line-height: #{$font-size / 22 * 18}px;
        vertical-align: middle;
      }
    }
  }

  h5 {
    font-size: #{$font-size / 22 * 18}px;
    line-height: #{$font-size / 22 * 18}px;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);

    /deep/ {
      .positive-number,
      .negative-number {
        color: rgba(255, 255, 255, 0.5);
      }

      mat-icon {
        @include icon-size(#{$font-size / 22 * 14}px);
        line-height: #{$font-size / 22 * 10}px;
        vertical-align: middle;
      }
    }
  }

  padding: 15px;
  border-radius: 5px;

  &,
  /deep/ .positive-number,
  /deep/ .negative-number {
    color: white;
  }

  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(mat-color(mat-palette($mat-grey), 700)),
    to(mat-color(mat-palette($mat-grey), 500))
  );

  &.positive {
    background: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(mat-color(mat-palette($mat-teal), 700)),
      to(mat-color(mat-palette($mat-teal), 300))
    );
  }

  &.negative {
    background: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(mat-color(mat-palette($mat-red), 700)),
      to(mat-color(mat-palette($mat-red), 300))
    );
  }

  &.lg {
    p {
      @include font-size-lg(#{$font-size / 22 * 14}, #{$font-size / 22 * 18});
    }
    h4 {
      @include font-size-lg(#{$font-size}, #{$font-size / 22 * 32});
    }
    h5 {
      @include font-size-lg(#{$font-size / 22 * 14}, #{$font-size / 22 * 18});
    }
  }

  &.md {
    p {
      @include font-size-md(#{$font-size / 22 * 10}, #{$font-size / 22 * 14});
    }
    h4 {
      @include font-size-md(#{$font-size / 22 * 14}, #{$font-size});
      /deep/ mat-icon {
        display: none;
      }
    }

    h5 {
      @include font-size-md(#{$font-size / 22 * 10}, #{$font-size / 22 * 14});
      /deep/ mat-icon {
        display: none;
      }
    }
  }

  &.sm {
    p {
      @include font-size-sm(#{$font-size / 22 * 10}, #{$font-size / 22 * 14});
    }
    h4 {
      @include font-size-sm(#{$font-size / 22 * 14}, #{$font-size / 22 * 22});
      /deep/ mat-icon {
        display: none;
      }
    }

    h5 {
      @include font-size-sm(#{$font-size / 22 * 10}, #{$font-size / 22 * 14});
      /deep/ mat-icon {
        display: none;
      }
    }
  }

  &.xs {
    p {
      @include font-size-xs(#{$font-size / 22 * 12});
    }
    h4 {
      @include font-size-xs(#{$font-size});
      /deep/ mat-icon {
        display: none;
      }
    }

    h5 {
      @include font-size-xs(#{$font-size / 22 * 12});
      /deep/ mat-icon {
        display: none;
      }
    }
  }
}
